<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhino.log">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <service android:name=".crash.CrashService" />
        <activity
            android:name=".crash.CrashTipsActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
